In [9]:
from indo_eval.generate_text_templates import generate_texts_for_all_domains
from indo_eval.utils import read_sql_templates_from_txt_files
import json

# Load SQL templates
all_templates = read_sql_templates_from_txt_files()
# remove key-value pairs where values are empty lists or lists with enmpty strings
all_templates = {k: v for k, v in all_templates.items() if v and v != [''] }
all_templates

0.0.323

{'Client': ["SELECT Name FROM Client WHERE Industry = '[Client.Industry]';",
  "SELECT Location FROM Client WHERE Name = '[Client.Name]';",
  "SELECT Industry FROM Client WHERE Name = '[Client.Name]';"],
 'Employee': ["SELECT JobTitle FROM Employee WHERE Name = '[Employee.Name]';",
  "SELECT Department FROM Employee WHERE Name = '[Employee.Name]';",
  "SELECT SupervisorOrManager FROM Employee WHERE Name = '[Employee.Name]';"]}

In [11]:
linguistic_attr = "short"
results = generate_texts_for_all_domains(all_templates, linguistic_attr)

# save results to json file
file_name = f'templates/text/{linguistic_attr}.json'
with open(file_name, 'w') as fp:
    json.dump(results, fp)

SELECT Name FROM Client WHERE Industry = '[Client.Industry]';
SELECT Location FROM Client WHERE Name = '[Client.Name]';
SELECT Industry FROM Client WHERE Name = '[Client.Name]';
SELECT JobTitle FROM Employee WHERE Name = '[Employee.Name]';
SELECT Department FROM Employee WHERE Name = '[Employee.Name]';
SELECT SupervisorOrManager FROM Employee WHERE Name = '[Employee.Name]';

In [ ]:

# read results from json file
with open('templates/text/short_for_each_table.json', 'r') as fp:
    short_results = json.load(fp)
with open('templates/text/long_for_each_table.json', 'r') as fp:
    long_results = json.load(fp)
    
def print_stat(results):
    # results:  {table_name: {"sql_template": [text1, text2], ...}, ...}
    total = 0
    for table_name, sql_templates in results.items():
        num_of_queries = 0
        for sql_template, texts in sql_templates.items():
            # print(f"table: {table_name}, template: {sql_template}")
            num_of_queries += len(texts)
        print(f"The number of generated texts for {table_name}: ", num_of_queries)
        # print(texts)
        print("\n")
        total += num_of_queries
    print(f"The total number of generated texts: {total}")

print_stat(short_results)